.Form {
  border: none;
  border-bottom: 2px #eb5e28 solid;
}

.Button {
  border: none;
  background-color: #252422;
  color: #fffcf2;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #eb5e28;
  color: #252422;
}
